__pycache__/
*.py[cod]
*$py.class
env/
.env
venv/
ENV/
env.bak/
venv.bak/
.venv/
db.sqlite3
media/
staticfiles/
.github/
.expo/
node_modules/
.dockerignore
Dockerfile
ipconfig_output.txt
registration_debug.log
